.main {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    background-color: dimgray;
}

body {background-color: dimgrey;}

button {
    display: inline-block;
    vertical-align: middle;
    font-family: "Mulish", system-ui;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}